.header {
    background-image: url("/img-hotel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}
